@import url(https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css);

#info {
	margin: 20px;
	padding: 10px;
  	font-family: sans-serif;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1;
	background-color: rgba(255,255,255,0.8);
}

#map {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}
